Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.h.in
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
m4
missing
*~
.deps
.libs
*.o
*.lo
*.aux
*.dvi
*.log
*.out
*.ps
*.toc
*.pdf
config.h
dieharder-config
dieharder.html
dieharder.spec
dieharder/dieharder
dieharder_version.h
*.la
libtool
manual/macros.tex
stamp-h1
